@font-face{
	font-family: "opendyslexic";
	src: url('../fonts/OpenDyslexic-Regular.otf');
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: "opendyslexic";
	src: url('../fonts/OpenDyslexic-Italic.otf');
	font-style: italic;
	font-weight: normal;
}
@font-face{
	font-family: "opendyslexic";
	src: url('../fonts/OpenDyslexic-Bold.otf');
	font-weight: bold;
	font-style: normal;
}
@font-face{
	font-family: "opendyslexic";
	src: url('../fonts/OpenDyslexic-BoldItalic.otf');
	font-weight: bold;
	font-style: italic;
}


.article-bg {
	position: absolute;
	top: 75px;
	z-index: -1;
	max-width: none;
}

.container {
	margin-left: 0;
	min-width: 958px;
	position:relative;
}

.sidebar{
	width: 160px;
	float: left;
	min-height: 1px;
	margin-left: 20px;
	background:#f8f8f8;
}
.header{
	width: 100%;
	min-height: 1px;
	margin-left: 200px;
	position: relative;
}
.personal {
	float: right;
	color:#0645AD;
	height: 30px;
	
	font-size: 13px;
	margin-bottom: 15px;
	margin-right: 220px;
	text-align: right;
}

.tabs {
	position: relative;
	float:left;
	height: 30px;
	min-width: 780px;
	border-bottom: 1px solid #a7d7f9;

}
.tab-group:last-child {
	float: right;
}

.tab {
	color: #0645ad;
	margin-top:8px;
	height: 22px;
	text-align: center;
	border-right: 1px solid #a7d7f9;
	margin-left: 0;
	margin-right: 0;
	font-size: 13px;
	background: -webkit-linear-gradient(rgba(255,255,255,0), #edf7fd);
	background: linear-gradient(rgba(255,255,255,0), #edf7fd);
}
.tab:first-child {
	border-left: 1px solid #a7d7f9;	
	background: white;
}

.tab.active {
	color: #252525;
	border-bottom: 1px solid white;
	background: white;
}

.search {
	text-align: right;
	margin-left: 5px;
	float: left;
}

input.searchbox {
	position: relative;
	top: 2px;
	height: 15px;
	margin:0;
	width: 160px;
	border-radius: 0px;
	
}

.title, .motto {
	color: #252525;
	font-family: Georgia;
	text-align: center;
}

.title {
	font-size: 24px;
	padding: 0 0 4px 0;
}

.logo {
	background: transparent center bottom no-repeat;
	background-image: url(../images/wikipedia-logo.png), -webkit-linear-gradient(white, #f8f8f8);
	background-image: url(../images/wikipedia-logo.png), linear-gradient(white, #f8f8f8);
	width: 160px;
	height: 120px;
	margin-top: 5px;
}

.toolbox {
	padding: 15px 5px 0 15px;
}

.toolbox li {
	color: #0645AD;
	list-style-type: none;
	font-size: 13px;
	cursor: pointer;
	padding: 2px 0;

}

.toolbox li:hover {
	text-decoration: underline;
}

.toolbox ul {
	margin: 0;	
}

.menu-group {
	cursor: pointer;
	padding-bottom: 3px;
	padding-top: 3px;
	margin-top: 3px;
	border-top: 1px solid #EEE;
}

.menu-group + ul li {
	padding-left: 20px;
	padding: 2px 0 0 20px;
}

.menu-group:before {
	content: "";
	display: inline-block;
	border-top: 4px solid #555;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: none;
	vertical-align: middle;
	margin: 4px;
	
}

.menu-group.closed:before {
	border-left: 4px solid #555;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: none;
	vertical-align: middle;
	margin-right: 6px;
	margin-left: 6px;
	
}


.menu-group.closed + ul {
	display: none;
}

#languagesettings-settings-panel,
.uls-language-settings-close-block {
	background: white;
	/*border-left: 1px solid #f8f8f8;*/
}

.languages {
	position: relative;
}

.language-settings {
	display: inline-block;
	position:absolute;
	top: 4px;
	right: 2px;
	height: 15px;
	width: 30px;
	background: transparent url(../images/cog.png) center right no-repeat;
	cursor: pointer;
	padding:3px;
	
}

.language-settings.active,
.language-settings:hover {
	background-image:  url(../images/cog-hi.png);
}

.language-settings-dialog {
	display: block; 
	top: -40px;
	left: 160px;
	background: #fbfbfb;
}

.language-settings-dialog:before {
	display: inline-block;
	content: "";
	border-right: 20px solid #AAA;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	left: -20px;
	top: 32px;
	position: absolute;
}

.language-settings-dialog:after {
	display: inline-block;
	content: "";
	border-right: 20px solid white;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	left: -19px;
	top: 32px;
	position: absolute;
}

.hidden {
	display: none !important;
}


.ui-language-settings {
	padding-bottom: 25px;
	margin-bottom: 2px;

}

.ui-change-clarification {
	margin: 0 0 15px 0;
	color: #555;
	font-size: 13px;
}
.checkbox {
	padding: 0;
}

.checkbox input {
	margin-right: 5px;
}

.more-settings {
	color: #252525;
	font-size: 16px;	
	margin-bottom: 10px !important;
	/*background: #f8f8f8;*/
	padding:  10px 0;
	line-height: 1.8em;
}

.more-settings .clarification {
	color: #777;
}

.more-settings .login-clarification {
	font-size: 14px;
	color: #555;
}
.more-settings-login, a {
	color: #0645AD;
	font-size: 14px;
	list-style-type: none;
	cursor: pointer;

}

.more-settings-login:hover, a:hover {
	text-decoration: underline;
}

.personal div {
	cursor:pointer;
}

.username:before,
.login-link:before {
	height: 18px;
	width: 18px;
	display: inline-block;
	content:"";
	background: transparent url(../images/user-icon.png) center center no-repeat;
	vertical-align: top;
}

.inline-login-form{
	margin: 15px 0 !important;
}

.new-account-link {
	display: inline-block;
	margin-top: 10px;
}

.uls-input-settings-disable-info{
	padding: 10px 0 !important;
}
.search-button {
	content:"";
	display: inline-block;
	width: 15px;
	height: 15px;
	background: transparent url("../images/search.png") center center no-repeat;
	background-size: 100%;
	vertical-align: middle;
	position: relative;
	left: -25px;
	top: 2px;
	cursor: pointer;
	z-index:100;
}


.uls-trigger {
	cursor: pointer;
	color: #252525;
	background: #f0f0f0;
	border: 1px solid #ddd;
	padding: 0 8px;
	border-radius: 3px;
	margin-left: 18px;
	
}

.uls-more-langs-label {
	margin-left: 18px;
	font-size: 12px;
	color: #777;
}
.uls-compact {
	margin-top: -160px;
	left: 175px!important;
}

/*
.uls-menu:before {
	display: inline-block;
	content: "";
	border-right: 20px solid #AAA;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	left: -20px;
	top: 6px;
	position: absolute;
}

.uls-menu:after {
	display: inline-block;
	content: "";
	border-right: 20px solid white;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	left: -19px;
	top: 6px;
	position: absolute;
}
*/

.uls-display-settings-block,
.ui-language-settings-block {
	min-height: 200px;
}

.ui-language-settings-block,
.font-settings-block {
	border-top: 1px solid #EEEEEE; 
	padding-top: 25px;
	top: -20px;
	position:relative;
	
}


.uls-compact .languagefilter-clear {
margin-left: -32px;
}

/* Position alternatives: */

#keyboard-top {
	background: transparent url(../images/keyboard.png) center right no-repeat;	
} 

#keyboard-top:hover {
	background: transparent url(../images/keyboard-hi.png) center right no-repeat;
	
}

#cog-bottom {
	display: block;
	position: static;
	padding: 2px 0  4px 15px;
	
	margin-left: 5px;
	margin-right:0;
	background: transparent url(../images/cog.png) center left no-repeat;
	cursor: pointer;
	font-size: 12px;
	color: #333;
	width:auto;
	background-size: 12px;
	border-top: 1px solid #EEE;
/*	color:#0645AD;*/
	color: #777;
}
#cog-bottom:hover {
	background: transparent url(../images/cog-hi.png) center left no-repeat;
	background-size: 12px;
	color: black;
}

.display-switch-block {
	text-align: center;
}

.button-group {
	display: inline-block;
	position: relative;
	padding: 0 0 0 0;
	left: -20px;
	z-index:1;
}

.button-group > button.button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  float: left;
  padding: 8px 10px;
  min-width: 80px;
}
/* line 52, sourcefiles/scss/components/default/_buttons.scss */
.button-group > button.button:first-child {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 57, sourcefiles/scss/components/default/_buttons.scss */
.button-group > button.button:last-child {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


.languagesettings-menu h1 {
	padding: 5px 0 15px 15px;
}

.uls-content-fonts,
.uls-ui-fonts  {
	padding: 8px 0;
	/*margin: 15px 0 !important;*/
	border-top: 1px solid #EEE;
	background: #fbfbfb;
}
.uls-ui-fonts  {
	border-bottom: 1px solid #EEE;
}

.ext-uls-display-settings-font-settings {
	margin-bottom: 15px;
}

.webfonts-enable-checkbox-block {
	margin-top: 15px;
}

.webfonts-enable-checkbox-block a {
	font-size: 10pt;
}
